<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
 
<!-- CSS -->
<link rel="stylesheet" href="/assets/jquery.fancybox-buttons.css">
<link rel="stylesheet" href="/assets/jquery.fancybox-thumbs.css">
<link rel="stylesheet" href="/assets/jquery.fancybox.css">       
<!-- FancyBox -->
<script src="/assets/jquery.fancybox.js"></script>
<script src="/assets/jquery.fancybox-buttons.js"></script>
<script src="/assets/jquery.fancybox-thumbs.js"></script>
<script src="/assets/jquery.easing-1.3.pack.js"></script>
<script src="/assets/jquery.mousewheel-3.0.6.pack.js"></script>
        
<script type = "text/javascript">
$(document).ready(function() {
$(".fancybox").fancybox();
});
</script>

<% if @album %>
  <h2><%= @album.name %></h2>
  <% if current_user && current_user.admin? %>
    <%= link_to "добавить фотографию", new_photo_path(:album_id => @album) %> |
    <%= link_to "удалить альбом", @album, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "все альбомы", albums_path %>
  <% end %>
  <div class="gal">
    <% @album.photos.each_slice(3) do |slice| %>
    <% slice.each do |photo| %>
    <div class = "ph_container">
    <a class="fancybox" rel="group" href= "<%= photo.image_url %>" title= "<%= photo.name %>"><img src= "<%= photo.image_url %>" alt=""></a>
    <% if current_user && current_user.admin? %>
      <div class="actions">
          <%= link_to "изменить", edit_photo_path(photo) %> |
          <%= link_to "удалить", photo, :confirm => 'Вы уверены?', :method => :delete %>
      </div>
    <%end%>
    </div>
    <% end %> 
    <% end %>
  </div>
  </div>
<% else %>
  <h2> Альбом не найден </h2>
<% end %>




        
 