<% if current_user.admin? %>

<title> "Edit Post" </title>
<h2> Редактировать: <%= @post.title %></h2>
<%= form_for @post do |p| %>
  <p>
  <%= p.label "Исправить заголовок" %><br>
  <%= p.text_field :title %> 
  </p>
  <br>
  <p>
  <%= p.label "Исправить екст" %><br>
  <%= h p.text_area :body %> 
  </p>
  <p>
  <%= p.label "Исправить Youtube ссылку" %><br>
  <%= h p.text_field :video %> 
  </p>
  <p>
  <%= p.submit "Принять" %>
  </p>
 <% end %>

<% else %>

<h2><%= "У вас нет прав редактировать сообщения ."%></h2>
<%=  link_to "go back", root_path %> 

<%end%>